.visuals,
.visuals * {
  box-sizing: border-box;
}
.visuals {
  background: transparent;
  padding: 88px 33px 545px 34px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.visuals-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.visual-user {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 353px;
  height: 242px;
  position: relative;
}
.visual-title {
  color: #444444;
  text-align: left;
  font-family: "Gellix", sans-serif;
  font-size: 64px;
  letter-spacing: -0.1em;
  font-weight: 600;
  position: relative;
  align-self: stretch;
}
.visual-board {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  height: 202px;
  position: relative;
}
.visual-frame {
  background: #d9d9d9;
  flex-shrink: 0;
  width: 353px;
  height: 118px;
  position: relative;
}
.visual-action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 115px;
  position: relative;
}
.visual-download-icon {
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
  object-fit: cover;
  aspect-ratio: 1;
}
.visual-download-text {
  color: #000000;
  text-align: left;
  font-family: "Gellix", sans-serif;
  font-size: 16px;
  letter-spacing: -0.07em;
  font-weight: 400;
  opacity: 0.25;
  position: relative;
}
